<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Number Game</title>
    <style>
      body {
        text-align: center;
      }
      div.box {
        height: 200px;
        width: 200px;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to the Number Game !</h1>
    <h3>Object of the game is to guess the correct nunber from 1 to 100</h3>
    <div class="box high"></div>
    <div class="box correct"></div>
    <div class="box low"></div>

    <form action="" method="POST">
      <input type="number" name="guess" /><br />
      <input type="submit" value="Sumbit!" />
    </form>
  </body>
</html>
